<h1 style="text-align:center; color:aliceblue; font-family:'Courier New', Courier, monospace">WELCOME {{user}}</h1>
<p style="color: aliceblue; text-align: center;">{{dateandtime | date : 'short'}}</p>

<div style="position: relative;">
  
    <a routerLink="/transaction" style="color:aliceblue; position: absolute;" class="link" >view transction history</a> 
    <!-- currectly dashboard -> to local host4200 ->transaction -> we use the / -->
    <button  type="submit" class="btn bg-danger p-1 me-5 mt-0 div2" (click)="logout()">logout</button>
    <button  type="submit" class="btn bg-danger p-1 me-5 mt-3 div2" (click)="deleteconfirm()" >delete</button>
  <app-deleteconfirm [item]="acno"></app-deleteconfirm>




</div>  




<div class="login-wrapper" [ngClass]="acno?'style':''">

      <form  class="form" (ngSubmit)="deposit()" [formGroup]="depositForm">
          <h1>DEPOSIT</h1>
          <div class="input-group">
            <input type="text" name="acno"  id="acno" required="" placeholder="ACCOUNT NUMBER" formControlName="acno">
          </div>

          <div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched" > <!-- validation -->
            <p class="text-danger fs-5" >*invalid acno</p>
          </div>



          <div class="input-group">
            <input type="password" name="psw" id="psw" required="" placeholder="PASSWORD"  formControlName="psw">
          </div>

          <div *ngIf="this.depositForm.get('psw')?.errors && this.depositForm.get('psw')?.touched" > <!-- validation -->
            <p class="text-danger fs-5" >*invalid password</p>
          </div>



          <div class="input-group">
            <input type="text" name="amount"  id="amount" required=""  placeholder="AMOUNT"  formControlName="amnt">
          </div>
          <div *ngIf="this.depositForm.get('amnt')?.errors && this.depositForm.get('amnt')?.touched" > <!-- validation -->
            <p class="text-danger fs-5" >*invalid amount</p>
          </div>

          
          
         <button type="submit" class="btn  p-2">deposit</button>
        </form>
  
      <form  class="form ms-5" id="form2" (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
        <H1>WITHDRAW</H1>
        <div class="input-group ">
          <input type="text" name="acno1"  id="acno1" required=""  placeholder="ACCOUNT NUMBER" formControlName="acno1" >
        </div>

        <div *ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched" > <!-- validation -->
          <p class="text-danger fs-5" >*invalid acno</p>
        </div>

        <div class="input-group">
           <input type="password" name="psw1" id="psw1" required=""  placeholder="PASSWORD"  formControlName="psw1">
         </div>

          <div *ngIf="this.withdrawForm.get('psw1')?.errors && this.withdrawForm.get('psw1')?.touched" > <!-- validation -->
                    <p class="text-danger fs-5" >*invalid password</p>
          </div>

        <div class="input-group">
          <input type="text" name="amount1"  id="amount1" required=""  placeholder="AMOUNT"  formControlName="amnt1">
        </div>

        <div *ngIf="this.withdrawForm.get('amnt1')?.errors && this.withdrawForm.get('amnt1')?.touched" > <!-- validation -->
          <p class="text-danger fs-5" >*invalid amount</p>
</div>
        
       <button type="submit" class="btn  p-2" >withdraw</button>
      </form>

  </div>


  
