<div class="login-wrapper">
    <form action="" class="form" >
      <h2>REGISTER FORM</h2>
      <div class="input-group">
        <input type="text" name="uname"  id="" required="" [(ngModel)]="uname" >
        <label for="">USER NAME</label> 
      </div>
      <div class="input-group">
        <input type="text" name="acno"  id="" required="" [(ngModel)]="acno"> 
        <label for="">ACCOUNT NUMBER</label> 
      </div>
      <div class="input-group">
        <input type="password" name="psw" id="" required="" [(ngModel)]="psw">
        <label for="">PASSWORD</label>
      </div>
 
     <button type="submit" class="btn  p-2" (click)="register()" >CREATE</button> 
      
     
    </form>
  </div>
